/* Vice City Sans: https://www.dafont.com/vice-city-sans.font */
@font-face {
  font-family: "Vice";
  src: url("../fonts/ViceCitySans.woff2") format("woff2"),
    url("../fonts/ViceCitySans.woff") format("woff");
}

html,
body {
  background-color: #1a1b26;
  color: #c0caf5;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  border: 1px solid #000000;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  height: 100%;
}

.name {
  font-family: "Vice", sans-serif;
  font-size: 5.333rem;
  letter-spacing: -10px;
  text-align: center;
}

#bio {
  text-align: center;
  font-family: "Vice", sans-serif;
  font-size: 1rem;
}

.links {
  text-align: center;
  font-size: 35pt;
}

.links a {
  color: #c0caf5;
}

.github {
  color: #565f89;
}

.stackoverflow {
  color: #ff9e64;
}

.linkedin {
  color: #7aa2f7;
}
